.navbar-nav {
    margin-left: auto;
}

.cards {
    display: inline-block;
}

.desktop1 {
    display: inline-block;

}

.desktop {
    display: inline-block;

}

* {
    box-sizing: border-box;

}

header,
section {
    overflow-x: hidden;
}

:root {
    --Snigle-font: "Snigle", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
    --light-black: "#2e2c2caf";
    --bggradient: liner-gradient(to bottom,
            #dd2476, #ff512f);
    --light-gray: rgba(255, 255, 255, 0);

}

header a {
    font-family: var(--Snigle-font);
    font-size: 0.9em;
    color: whitesmoke;

}

header {
    background: linear-gradient(#dd2476, #ff512f);

}


.dropdown .nav-link {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 160px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.nav-link {
    
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 20px;
}


.nav-link:hover {
    color: black; 
    opacity: 0.8;
}
.navbar-brand {
    color: white;
    
}
.col-md-5 img{
    padding: 4.2vmin 1vmin; 
    width: 90%;
}
.col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--Rubik);
    color: white;
}
.col-md-7 h6{
    padding: 1vmin;
    letter-spacing: 4px;
}
.col-md-7 h1{
    font-size: 8vmin;
    font-weight: bold;
    font-family: sans-serif;
    padding: 0.1em 0em;
}
.col-md-7 p{
    padding: 1vmin 5vmin;
}
.col-md-7 buuton{
    border-radius: 20px;
    font-weight: bold;
}

/* section 1*/

.section-1{
 padding: 20vmin 0;
}
.col-md-6 img{
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}
.col-md-6:last-child{
position: relative;
}
.panel{
    position: absolute;
    top: 12vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
}